.root {
    -fx-focus-color: transparent;
}

.background {
    -fx-background-color: derive(#858b97, 20%);
    background-color: #5D6475; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 25pt;
    -fx-font-family: Candara;
    -fx-font-style: italic;
    -fx-font-weight: 700;
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: derive(#858b97, 20%);
    -fx-font-size: 20pt;
    -fx-prompt-text-fill: derive(black, 65%);
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 0;
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}

.tab-pane .tab-header-area {
    -fx-background-color: derive(#717786, 20%);
}

.tab-pane .tab-header-background {
    -fx-background-color: derive(#717786, 20%);
}

.tab-pane .tab-content-area {
    -fx-background-color: derive(#717786, 20%);
}

.tab-pane .tab:selected {
    -fx-background-color: derive(#5D6475, 10%);
    -fx-pref-height: 60;
    -fx-effect: innershadow(gaussian, #485063, 10, 0.1, -2, 2);
}

.tab-pane .tab {
    -fx-background-color: derive(#5D6475, 50%);
    -fx-pref-height: 60;
    -fx-effect: innershadow(gaussian, #485063, 10, 0.1, -2, 2);
}

.tab-pane .tab-label {
    -fx-font-family: "Sitka Banner";
    -fx-text-fill: white;
    -fx-font-weight: 600;
    -fx-font-size: 14pt;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#1d1d1d, 20%);
}


.list-view-module {
    -fx-background-insets: 0;
    -fx-padding: 3;
    -fx-background-color: derive(#5D6475, 20%);
}

.list-view-module .list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 3;
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
}

.list-view-module .list-cell:filled:even {
    -fx-background-color: transparent, #02B68F;
    -fx-background-insets: 0, 3;
    -fx-effect: dropshadow(gaussian, #0B2B37, 10, 0, 1, 1);
}

.list-view-module .list-cell:filled:odd {
    -fx-background-color: transparent, white;
    -fx-background-insets: 0, 3;
    -fx-effect: dropshadow(gaussian, #0B2B37, 10, 0, 1, 1);
}

.list-view-module .list-cell:filled:selected {
    -fx-effect: dropshadow(gaussian, #0B2B37, 10, 0, 5, 5);
}

.list-view-module .list-cell:filled:selected #cardPane {
    -fx-effect: null;
}

.list-view-module .list-cell .label {
    -fx-text-fill: white;
}

.list-view-module .list-cell:empty {
    -fx-padding: 2 ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.stack-pane {
    -fx-background-color: derive(#858b97, 50%);
}

.pane-with-border {
    -fx-background-color: derive(#858b97, 20%);
    -fx-border-color: derive(#858b97, 10%);
    -fx-border-top-width: 1px;
    -fx-padding: 5 10 5 10;
}

.pane-with-border-rounded {
    -fx-background-color: derive(#858b97, 20%);
    -fx-border-color: derive(#858b97, 10%);
    -fx-border-top-width: 1px;
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;

}

.vbox-with-border {
    -fx-background-color: derive(#5D6475, 20%);
    -fx-border-color: derive(#5D6475, 10%);
    -fx-border-top-width: 1px;
    -fx-border-radius: 18 18 0 0;
    -fx-background-radius: 18 18 0 0;
    -fx-effect: dropshadow(gaussian, #0B2B37, 10, 0, 3, 3);
}

.vbox-with-border .label-header {
    -fx-font-size: 25pt;
    -fx-font-family: Candara;
    -fx-font-style: italic;
    -fx-font-weight: 700;
    -fx-text-fill: white;
    -fx-padding: 5 5 5 5;
}

.empty-container {
    -fx-background-color: derive(#5D6475, 20%);
}

.vbox-data {
    -fx-background-radius: 18 18 18 18;
    -fx-spacing: 5;
    -fx-padding: 10 5 10 5;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar {
    -fx-background-color: derive(#858b97, 30%);
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#858b97, 30%);
    -fx-border-color: derive(#858b97, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}


.context-menu {
    -fx-background-color: derive(#858b97, 50%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: derive(#858b97, 20%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #2A9D8F;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #2A9D8F;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #2A9D8F;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}


.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: derive(#858b97, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#858b97, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, #0B2B37, 10, 0, 1, 1);
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent #383838 transparent #383838;
    -fx-background-insets: 0;
    -fx-border-color: #383838 #383838 #ffffff #383838;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

#filterField, #taskListPanel, #taskWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, #858b97, transparent, #858b97;
    -fx-background-radius: 0;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#tag {
    -fx-text-fill: white;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}


