---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.icon {
  height: 21px;
  width: 21px;
}

.page-break-before {
  page-break-before: always;
}

.logo-title {
  margin: 0;
  font-weight: 600;
  font-size: 2em;
}

.logo-subtitle {
  margin: 0;
  font-style: italic;
}

.do-not-decorate {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}

$md-btn-color: #2196f3;

.md-btn {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  margin: auto;
  display: inline-block;
  min-width: 88px;
  padding: 10px 16px;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  border-radius: 20px;
  background: $md-btn-color;
  outline: 0;
  &:hover {
    background: darken($md-btn-color, 12%);
  }
  &:visited {
    text-decoration: none;
    color: #ffffff;
  }
}

.md-btn-outline {
  border: 2px solid $md-btn-color;
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  background-color: white;
  color: $md-btn-color;
  &:visited {
    color: $md-btn-color;
  }
  &:hover {
    color: white;
    background: $md-btn-color;
  }
}

.md-btn-raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);

  &:active {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
  }
  &:visited {
    text-decoration: none;
    color: #ffffff;
  }
}
