---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.icon {
    height: 21px;
    width: 21px
}

//Styling taken from https://bskinn.github.io/Custom-kbd-Style/
kbd { border-style: outset; border-width: 2px; border-color: #999999; border-radius: 6px; padding: 3px; font-size: 75%; font-weight: 475; background-color: #f8f8f8; margin: 2px; white-space: nowrap; }
