/* current css not in use */
.weekday {
    -fx-font-size: 16pt;
    -fx-font-family: "Abyssinica SIL";
}

.weekend {
    -fx-font-size: 16pt;
    -fx-font-family: "Abyssinica SIL";
    -fx-font-fill: red;
}
