.background {
    -fx-background-color: derive(#29323C, 20%);
    background-color: #29323C; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane
{
    -fx-tab-min-width: 3em;
    -fx-tab-min-height: 3em;
}

.tab{
    -fx-background-insets: 0.0;
    -fx-background-radius: 15 15 0 0;
    -fx-background-color: #29323C;
    -fx-padding: 0 30 0 30;
}
.tab-pane .tab
{
    -fx-background-color: #e8eff2;

}

.tab-pane .tab:selected
{
    -fx-background-color: #011842;
}

.tab-pane .tab:focused
{
    -fx-focus-color: transparent;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: transparent;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #e8eff2;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}

.tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#e8eff2, 20%);
    -fx-border-color: transparent transparent transparent #000000;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#e8eff2, 20%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#e8eff2, 20%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
    -fx-background-radius: 20;
}

.list-cell:filled:even {
    -fx-background-color: #e8eff2;
}

.list-cell:filled:odd {
    -fx-background-color: #e8eff2;
}

.list-cell:filled:selected {
    -fx-background-color: #b7cdd6;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #b7cdd6;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.stack-pane {
     -fx-background-color: derive(#e8eff2, 20%);
}

.status-bar {
    -fx-background-color: derive(#536dfe, 30%);
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-background-radius: 20;
    -fx-font-size: 10pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#e8eff2, 30%);
    -fx-border-color: derive(#e8eff2, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: black;
}

.grid-pane {
    -fx-background-color: derive(#e8eff2, 30%);
    -fx-border-color: derive(#e8eff2, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#e8eff2, 30%);
}

.context-menu {
    -fx-background-color: derive(#536dfe, 50%);
}

.context-menu .label {
    -fx-text-fill: black;
}

.menu-bar {
    -fx-background-color: derive(#536dfe, 20%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #e8eff2;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: black;
  -fx-text-fill: #e8eff2;
}

.button:focused {
    -fx-border-color: black, black;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #e8eff2;
    -fx-text-fill: black;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #e8eff2;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #e8eff2;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#e8eff2, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: black;
    -fx-text-fill: black;
}

.scroll-bar {
    -fx-background-color: derive(#e8eff2, 20%);
    -fx-background-radius: 20;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#011842, 50%);
    -fx-background-insets: 3;
    -fx-background-radius: 20;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
    -fx-background-radius: 20;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-padding: 2 0 2 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #000000;
}

#commandTextPanel {
    -fx-background-color: #485563;
    -fx-background-radius: 20;
    -fx-padding: 5 5 5 5;
}

#commandTextField {
    -fx-background-color: transparent #e8eff2 #ffffff transparent;
    -fx-background-insets: 0;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

#filterField, #taskWebpage{
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#welcomePanel, #upcomingTaskListPanel{
    -fx-background-color: #e8eff2;
    -fx-text-fill: black;
    -fx-border-width: 0;
}

#featuresPanelPlaceholder{
    -fx-background-color: #e8eff2;
    -fx-background-radius: 20;
}

#gridPane{
    -fx-background-color: #b7cdd6;
}

#imageView{
    -fx-background-color: #e8eff2;
    -fx-alignment: CENTER;
}

#resultDisplay .content {
    -fx-background-color: transparent, #e8eff2, transparent, #e8eff2;
    -fx-background-radius: 20;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #536dfe;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-font-size: 11;
}
