
.error {
    -fx-text-fill: #3c403d !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #94ada7;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: #94ada7;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: #3c403d;
}
