
.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #383838;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

.meeting-slot-header {
    -fx-text-fill: midnightblue;
    -fx-font-family: "Arial Black 13px";
    -fx-wrap-text: true;
    -fx-font-weight: bold;
}
.meeting-slot-background {
    -fx-background-color: orange;
    -fx-background-radius: 8, 7, 6;
    -fx-background-insets: 0, 1, 2;
    -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-text-fill: black;
}

.even-timetable-row {
    -fx-background-color: #e0dddd;
}
.odd-timetable-row {
    -fx-background-color: white;
}
