.background {
    -fx-background-color: derive(#1d1d1d, 20%);
    background-color: #383838; /* Used in the default.html file */
}

.cell_title_label {
	-fx-font-family: "Segoe UI Semibold";
	-fx-font-size: 22px;
	-fx-text-fill: derive(#494645, -50%);
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.menu-bar {
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 0.9;
}

.pane-with-border {
	-fx-background-color: derive(gainsboro, 25%);
}

.stack-pane {
}

#commandTextField {
	-fx-font-family: "Segoe UI Semilight";
	-fx-font-size: 13pt;
}

.status-bar {
}

.result-display {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 12pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.list-view {
	-fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(gainsboro, 25%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: derive(gainsboro, 25%);
}

.list-cell:filled:even {
	-fx-background-color: derive(gainsboro, 50%);
}

.list-cell:filled:odd {
	-fx-background-color: white;
}

#filterField, #contactListPanel, #contactWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

.list-cell .label {
    -fx-text-fill: black;
}

.scroll-bar {
    -fx-background-color: derive(lightgrey, 60%);
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: derive(#44BFA9, -5%);
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#contacts {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#contacts .label {
    -fx-text-fill: black;
    -fx-background-color: #FDCC20;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
