.background {
    -fx-background-color: $background, 20%;
    background-color: $background; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: $foreground;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: $foreground;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: $foreground;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: $background;
    -fx-control-inner-background: $background;
    -fx-background-color: $background;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: $foreground;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: $background, 20%;
    -fx-border-color: transparent transparent transparent transparent;
}

.split-pane {
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-color: $background;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: $background;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: derive($background, 20%);
}

.list-cell:filled:odd {
    -fx-background-color: derive($background, 50%);
}

.list-cell:filled:selected {
    -fx-background-color: $c5;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: $c5;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: $foreground;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: $foreground;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: $foreground;
}

.cell_subheading_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 11px;
    -fx-text-fill: $foreground;
}

.person-details-section {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: $cf;
}

.stack-pane {
     -fx-background-color: $background;
}

.pane-with-border {
     -fx-background-color: $background;
     -fx-border-color: $background;
     -fx-border-top-width: 0px;
}

.status-bar {
    -fx-background-color: $background;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: $foreground;
}

.result-display .label {
    -fx-text-fill: $foreground !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: $foreground;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: $background;
    -fx-border-color: $background;
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: $foreground;
}

.grid-pane {
    -fx-background-color: $background;
    -fx-border-color: $background;
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: $background;
}

.context-menu {
    -fx-background-color: $background;
    -fx-foreground-color: $foreground;
}

.context-menu .label {
    -fx-text-fill: $foreground;
}

.menu-bar {
    -fx-background-color: $background;
    -fx-foreground-color: $foreground;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: $foreground;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: $background;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: $background;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: $foreground;
    -fx-text-fill: $background;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: $foreground;
  -fx-text-fill: $background;
}

.button:focused {
    -fx-border-color: $foreground, $foreground;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: $background;
    -fx-text-fill: $foreground;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: $foreground;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: $background;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: $background;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: $foreground;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: $background;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: $foreground;
    -fx-text-fill: $foreground;
}

.scroll-bar {
    -fx-background-color: $background;
}

.scroll-bar .thumb {
    -fx-background-color: $c8;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 1;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: $cf;
}

#commandTextField {
    -fx-background-color: transparent $background transparent $background;
    -fx-background-insets: 0;
    -fx-border-color: $background $background $c4 $background;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: $foreground;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, $c0, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, $c8, transparent, $c8;
    -fx-background-radius: 0;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: $foreground;
    -fx-background-color: $ca;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}


.error {
    -fx-text-fill: $c9 !important; /* The error class should always override the default text-fill style 9 */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: $background; /* background */
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: $foreground; /* foreground */
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: $foreground; /* foreground */
}
